{% extends "StorePage/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/response.css' %}">

<div class="allContainer">              
    <!-- User info for Question asked --> 
    <!-- its recognizing it as an image but broken -->      
    {% if Question.User.profilePic %}
        <img class="img" src="{{ Question.User.profilePic.url }}" width="75" height="75"><br>
        {{Question.User}}
        {{Question.Created_on}}
    {% else %}         
        {{Question.User}}
        {{Question.Created_on}}
    {% endif %}

    <div class="QCard">
    <!-- Question asked-->
        <b>{{Question.Question}}</b>
        <div class="questionPreview">
            {{Question.Description}}
        </div>
    </div>  
    <hr>
    <!-- Responses to question if any-->
        {% for r in Response %}
        <div class="QCard">
            <b>{{r.User}}</b><br>
            {{r.Response}}
        </div>
        {% endfor %}
    <br>
    <!-- form to respond if they are logged in-->
    {% if user.is_authenticated %}  
        <form class="createForm" method="POST" name= "createResponse">
            {% csrf_token %}
            {{form| crispy }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</div>
{% endblock %}