{% extends "StorePage/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/response.css' %}">

<div class="allContainer">   
          
    <!-- User info for Question asked --> 
    <!-- its recognizing it as an image but broken -->      
    {% if Question.User.profilePic %}
        <img class="img" src="{{ Question.User.profilePic.url }}" width="75" height="75"><br>
        {{Question.User}}
        {{Question.Created_on}}
    {% else %}         
        {{Question.User}}?
        {{Question.Created_on}}
    {% endif %}

    <div class="QCard">
    <!-- Question asked-->
        <b>{{Question.Question}}</b>
        <div class="questionPreview">
            {{Question.Description}}
          
        </div>
    </div>  
    <hr>
    <h5 style="color:white">{{ResponseLength}} Answers</h5>
    <!-- Responses to question if any-->
        {% for r in Response %}
        <div id= "{{r.pk}}" class="QCard">
            <b>{{r.User}}</b><br>
           
            <p class="response"> {{r.Response}}</p>
            {% if r.User.User.username == user.username%}
            <button class="btn edit-response">edit</button>
            {% endif %}
        </div>
        {% endfor %}
    <br>
    
    <!-- form to respond if they are logged in-->
    {% if user.is_authenticated %}  
        <form class="createForm" method="POST" name= "createResponse">
            {% csrf_token %}
            {{form| crispy }}
            <button type="submit" class = "btn" >Submit</button>
        </form>
        {% else %}
        <h5><a href="{% url 'login' %}">Log-in</a>  to post a reply</h5>
    {% endif %}
 
</div>

<style>

</style>
<script>
   function divClicked(ele) {
    let divHtml = $(ele).parent().find('p').html().trim();
    let pk = $(ele).parent()[0].id
    let url= "{% url 'Question:update_reply' title=Question.Question  pk=1234 %}"
    let url2 = url.replace('1234',pk)
    let editableText = $(`
    <form method="POST" name = 'update-reply' action="${url2}">
    {% csrf_token %}
    <textarea name="newReply" class = '' value='${divHtml}'/>
    <button onClick = "submit(${divHtml})" class="btn submit">Submit</button>
    </form>

    `);
    $('.edit-response').hide();
    editableText.val(divHtml);
    $(ele).parent().find('p').replaceWith(editableText);
   
    editableText.blur(function() {
     $('.submit').replaceWith($('<p>').html($(ele).val()));
     $('.edit-response').show()
    });
   }

   $(document).ready(function() {
    $(".edit-response").click(function() {
        divClicked(this);
    });
 });
        
</script>
{% endblock %}
