{% extends "StorePage/_base.html" %}
{% block body%}


<h1>Search Results</h1>

<ul>
  {% for question in object_list %}
    <a href="" name= "{{ question.id }}" ><div class="resultCard">
      <b>{{ question.Question }}</b>
      <div class="questionPreview">
        {{ question.Description }}
      </div>
    </div></a>
    <li>
      {{ question.Question }}, {{ question.Description }}
    </li>

    <li>
      {{ question.Question }}, {{ question.Description }}
    </li>
  {% endfor %}
</ul>

{% endblock %}