{% load static from staticfiles %}
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<script src="{% static 'js/js.js' %}" type="text/javascript"></script>
<html lang="en">
<head>
  <title>Web-Dev</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
  <body>
    <nav class="navbar navbar-expand-sm nav-color  ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <span class="navbar-brand mb-0 h1 ">SparkDev</span>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'front_page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}  
            <li class="nav-item dropdown dmenu">          
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Settings
            </a>
            <div class="dropdown-menu sm-menu">
              {% if user.is_superuser %}
              <a class="dropdown-item" href="/admin/">Admin</a>
              {% endif %}
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only"></span></a>
            </li>
            {% endif %}
            </div>
          </li>
          </ul>
          <!--<<<<<<<<<<DropDown>>>>>> -->
            {% if user.is_authenticated %}
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle dropdownMenu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user.username}}<span class="sr-only"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link dropdown-item" href="{% url 'profile_settings:profile_page' %}">Profile</a> 
                    <a class="nav-link dropdown-item" href="#">Post a Question!</a>
                    <a class="nav-link dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>
            <!--<<<<<<< End of Dropdown>>>>>> -->
          {% endif %}
        </div>
      </nav>

      <main role="main" style="margin-right: 30px; margin-left: 30px;">
        {% block body %} {% endblock %}
      </main>
   

</body>
<!-- <<<<<<<<<<footer>>>>>> -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Sparkdev Web Development Project 2019</h5>
          <p>Spardev Overflow</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5> 
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>    
          </ul>
        </div>
      </div> 
    </div>  
  </footer>
<style>
  footer {   
    top:20%; 
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -150px;
 margin-bottom: 0px !important;
 background-color:lightcyan;
 border-top: solid black 5px;
 padding: 0px !important;
  }
    main{
      height:100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('/static/background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px !important;
    }
   .nav-color{
        background-color: white;
        color:black;
        border-bottom: solid black 3px;
    }
    nav a{
      color: black; 
    }
    nav span{
      color: black !important;
    }
    html, body {
    height: 90vh;
   }
   .dropdownMenu{
     width:15vw;
   }
  </style>

</html>