<!DOCTYPE html>
<html>
<head>
</head>
<body>

<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="">ClickNGo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <a class="nav-link" href=""><i class="fas fa-sign-in-alt"></i> Login</a>
    </ul>
  </div>
</nav>

<h2>Hello World!</h2>
</body>
</html>