{% load static %} {% load crispy_forms_tags %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">


<body>
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form Sign-upForm ">
            <div class="logo mb-3">
                <div class="col-md-20 text-center">
                   <h1>Reset Password</h1>
                </div>
             </div>
             {% if form.errors %}
             <div class="alert alert-danger" role="alert">
             Notice:  Username or password did not match!
             </div>
             {% endif %}
          <form method="POST" name="enterEmail" action="{% url 'profile_settings:reset_Password' user.pk %}" >
            {% csrf_token %} 
            {{form|crispy}}
            <div class="col-md-12 text-center mb-3">
              <input
                type="submit"
                class=" btn btn-block mybtn btn-primary tx-tfm"
                value="Submit"
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>