{% load static %} {% load crispy_forms_tags %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">


<body>
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form resetForm">
            <div class="logo mb-3">
                <div class="col-md-20 text-center">
                   <h1>Reset Password</h1>
                </div>
             </div>
             {% if messages %}
             
              <div>
                <div class="alert " style="background:rgb(122,2,113);" role="alert">
                
                     {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                
                </div>
             </div>
      
             {% endif %}
          <form method="POST" class="" name="enterEmail" action="{% url 'profile_settings:reset_Password' user.pk %}" >
            {% csrf_token %} 
            {{form|crispy}}
            <div class="col-md-12 text-center mb-3">
              <input
                type="submit"
                class=" btn btn-block mybtn btn-primary tx-tfm"
                value="Submit"
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<style>
  body{
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;

     background: rgb(122,2,113);
     background: linear-gradient(158deg, rgba(122,2,113,1) 8%, rgba(255,192,76,1) 71%);
  }
  .resetForm{
    padding: 3rem;
    /* padding-bottom: 4.2rem; */
    color: white;
    border: solid #FFC04C 3px;
    border-radius: 10px;
    background: rgba(169,169,169, 0.6);
  }
  .socialOuth{
     display:block;
     text-align:center;
     color:black;
  }
  .socialOuth, button {
     background: #FFC04C !important;
     border:none !important;
  }
  p, button, span,li{
     color:white !important;
  }
  .text-muted{
    display: none;
  }
  span{
     background: none !important;
  }
  li{
    list-style-type:none;
  }
  </style>