.allContainer{
  width: 85%;

  background: rgba(0,0,0,0.2);
 
  border-radius: 50px;
  padding: 2%;
  margin: 50px 0px;



}

.allContainer a:hover{
  text-decoration: none;
}

.QCard{
  padding: 1%;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
  margin-top: 15px;
  color: black;
  text-decoration: none;
}

.questionPreview{
  margin: auto;
  overflow: hidden;
}

.createForm{
  width:95%; 
  background: rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 30px;
  margin:auto;
  color:white;
}

  .img {
    border-radius: 50%;
  }

.QuestionContainer{
    width:65%;
    height:50%;
    background-color:white;
    border: solid black 5px;
    text-align:left;
    margin-top: 15px;
}

.userCard{
    float: left;
    margin:auto;
    height: 15%;
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
    color:black;
    text-decoration: none;
    text-align:center;
}